html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

body {
    width: 90vw;
    margin: 0 auto;
    /*padding: 3px 2px;*/
    padding-top: 56px;
    padding-bottom: 56px;
    /*min-height: calc(100vh - 56px - 56px)*/
    /*min-height: 100%;*/
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /*padding: 15px 0;*/
    text-align: center;
    z-index: 1;
}

.content {
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}
